@tailwind base;
@tailwind components;
@tailwind utilities;

.btm-con-cal {
    background: linear-gradient(90deg, #DADADA 1.09%, #EEEEEE 5.07%, #EEEEEE 42.93%, #EEEEEE 93.45%, #DADADA 101.5%);
}

.btm-con-farm {
    background: linear-gradient(90deg, #524B27 1.09%, #FFD976 5.07%, #FFD976 51.09%, #FFD976 93.45%, #524B27 101.5%);
}

.bg-con-farm {
    background: linear-gradient(180deg, #FFE296 82.81%, #F9BD21 100%);
}

.page-transition {
    @apply transition-all;
}